body{
    margin:0px;
}
/* #external{

} */
#header{
    width:500px;
    height:120px;
    background-image: url("burger.jpg");
    background-size: 100% 100%;
    margin: auto;
}
#header-text{
    color: #ffffff;
    font-weight: 600;
    padding: 20px;
    font-size: 40px;
}
#header-text2{
    color: aliceblue;
    padding: 20px;
    padding-top: 0px;
    font-size: 20px;
}
.parent-list{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-between;
    border-bottom: solid;
    border-color: grey;
}
.items{

}
.text-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    
}
.item-image{
    margin-left: 10px;
    width:50px
}
.item-text{
    /* padding-left: 10px;  */
    /* padding-right: 10px; */
    margin-left: -100px;
    width:200px;
    /* margin-top: -10px; */
}
.list-add-btn{
    margin-right: 10px;
    width:30px;
    height:30px;
    border-radius: 50%;
    border-width: 1px;
    margin-top: 5px;
}
.list-add-btn:hover{
    background-color: rgb(248, 247, 154);
}
.item1{
    font-weight: 1000;
    font-size: 25px;
}
.item2{
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    color: grey;
}
.item3{
    font-weight: 600;
}

#order-cart{  
    width:500px;
    /* text-align: center; */
    margin-left: 70px;
    display: none;
    font-weight: 600;
    font-size: large;
    
}
.order-list-cart{
    display: flex;
    justify-content:space-between    ;
}
#ordered-total{
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#order-heading{
    padding-left: 130px;
    margin-bottom: 10px;
    
}
#total-price{
    margin-right: 130px;
    font-size: 25px;
}
.order-item{
    width:40px;
}
#border-btn{
    width:400px;
    height: 50px;
    background-color: rgb(101, 231, 101);
    color: #ffffff;
    border-width: 0px;
    margin-left: -20px;
    font-size: 16px;
    margin-top: 10px;
}
.remove-btn{
    font-size: 10px;
    position:relative;
    color: blue;
    left:402px;
    top:-13px
}