body{
    margin:0px;
}
#external{
    margin: auto;
    border: solid 1px;
    width:500px;
    height:98vh;
    /* padding: 2px; */
}
#header{
    width:500px;
    height:130px;
    background-image: url("burger.jpg");
    background-size: 100% 100%;
    margin: auto;
    
}
#header-text{
    color: #ffffff;
    font-weight: 600;
    position: relative;
    padding: 20px;
    font-size: 40px;
    left: 100px;
    top:-15px;
    text-shadow: 2px 2px 5px rgb(247, 148, 26);
    
}
#header-text2{
    color: rgb(255, 248, 232);
    padding: 20px;
    position: relative;
    padding-top: 0px;
    font-size: 20px;
    left: 100px;
    top:-35px;
    font-weight: 600;
    text-shadow: 0.5px 1px 2px rgb(238, 246, 3);
    
}
.parent-list{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-between;
    border-bottom: solid;
    border-color: grey;
}
.items{

}
.text-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    
}
.item-image{
    margin-left: 10px;
    width:50px
}
.item-text{
    /* padding-left: 10px;  */
    /* padding-right: 10px; */
    margin-left: -100px;
    width:200px;
    /* margin-top: -10px; */
}
.list-add-btn{
    margin-right: 10px;
    width:30px;
    height:30px;
    border-radius: 50%;
    border-width: 1px;
    margin-top: 5px;
    
}
.list-add-btn:hover{
    background-color: rgb(248, 247, 154);
    cursor: pointer;
}
.item1{
    font-weight: 1000;
    font-size: 25px;
}
.item2{
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
    color: grey;
}
.item3{
    font-weight: 600;
}

#order-cart{  
    width:500px;
    /* text-align: center; */
    margin-left: 50px;
    display: none;
    font-weight: 600;
    font-size: large;
    
}
.order-list-cart{
    display: flex;
    justify-content:space-between    ;
}
#ordered-total{
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#order-heading{
    padding-left: 150px;
    margin-bottom: 10px;
    font-size: large;
    
}
#total-price{
    margin-right: 130px;
    font-size: 25px;
}
.order-item{
    width:40px;
}
#border-btn{
    width:400px;
    height: 50px;
    background-color: rgb(101, 231, 101);
    color: #ffffff;
    border-width: 0px;
    margin-left: -0px;
    font-size: 16px;
    margin-top: 10px;
}
.remove-btn{
    font-size: 10px;
    position:relative;
    color: blue;
    left:402px;
    top:-13px
}
.remove-btn:hover{
    cursor: pointer;
}

#confirm-order-form{
    position: absolute;
    top:20vh;
    left: 40%;
    right:50%;
    background-color: rgb(133, 48, 9);
    width:240px;
    height: 300px;
    padding: 30px;
    color: #ffffff;
    border-radius: 20px;
}
input{
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    width: 220px;
}
.confirm-btn{
    margin-top: 30px;
    margin-right: 10px;
    /* margin: auto; */
    border-radius: 10px;
    padding: 2px;
    width: 107px;
    color: #ffffff;
    background-color: red;
}
#confirm-btn{
    background-color: green;  
}
#confirm-screen-background{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: orange;
    opacity: 20%;
}
.show-confirm-form{
    display: none;
}